#demo4
    .box
        .minibox
            width: 150px
            height: 150px
            border: 1px solid rgb(210, 141, 196)
            background-color: rgb(210, 141, 196)
            color: #ffff
            margin: 10px
            h1
                transform: translate(10px, 10px)
        .Lorem
            p
                color: #242020
                width: 613px
        .minibox1
            position: relative
            width: 150px
            height: 150px
            border: 1px solid rgb(210, 141, 196)
            background-color: rgb(210, 141, 196)
            color: #ffff
            margin: 10px
            position: absolute
            right: 5px
            h1
                transform: translate(10px, 10px)
